/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    text-align: center;
}

#topo {
    width: 100%;
    height: 728px;
    background: url(../imagens/Grupo\ 3431.png) no-repeat;
    background-size: 100%;
}

#logo {
    width: 553px;
    height: 251px;
    background: url(../imagens/Grupo\ de\ rolagem\ 1.png) no-repeat;
    background-size: 100%;
}

#principal {
    height: 175.2px;
    text-align: center;
}

#principal h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #FF006E;
}

#principal p {
    width: 476px;
    height: 66px;
    margin: 13px auto;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 24px;
    color: #4D4D4D;
}

#seta {
    width: 50.86px;
    height: 12px;
    margin: 31px auto;
    background: url(../imagens/Caminho\ 223.png);
}

#imagens {
    width: 1516px;
    height: 864.52px;
    display: flex;
    flex-wrap: wrap;
}

#primeira-coluna {
    width: 901px;
    height: 844.52px;
    background: url(../imagens/Grupo\ 3431.png) no-repeat;
}

#segunda-coluna {
    width: 607px;
    height: 831px;
    background: url(../imagens/Grupo\ 3430.png) no-repeat;
}

#banner-bottom {
    height: 509px;
    background: url(../imagens/Grupo\ 3433.png) no-repeat;
    background-size: contain;
}

footer {
    height: 15rem;
    background-color: #F5F5F5;
    background: url(../imagens/Grupo\ 335.png) no-repeat;
    background-size: contain;
    
} */

/************************************************************************************************************/

* {
    margin: 0;
    padding: 0;
}

header {
    background: url(../imagens/Grupo\ 3431.png) no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: h;
}

main {
    grid-area: m;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 18vh 32vh 35vh;
    grid-template-areas: ". p ."
                         "i i i"
                         "b b b";
}

#principal {
    grid-area: p;
    text-align: center;
}

#logo {
    height: 50%;
    margin:  0 auto 15px auto;
    background: url(../imagens/Grupo\ de\ rolagem\ 1.png) no-repeat;
    background-size: 27vw;
    background-position: center;
}

#principal h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    color: #FF006E;
}

#principal span {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 1.2vw;
    color: #4D4D4D;
}

#seta {
    width: 5vw;
    height: 0.5vw;
    margin: 10px auto;
    background: url(../imagens/Caminho\ 223.png) no-repeat;
    background-size: contain;
    background-position: center;
}

#imagens {
    grid-area: i;
    padding: 10px;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 50vh 50vh;
    grid-template-areas: " um dois";
}

#primeira-coluna {
    grid-area: um;
}

#segunda-coluna {
    background: url(../imagens/Grupo\ 3430.png) no-repeat;
    background-size: 75%;
    grid-area: dois;
}

#banner-bottom {
    background: url(../imagens/Grupo\ 3433.png) no-repeat;
    background-size: 98vw;
    background-position: center;
    grid-area: b;
    grid-row-start: 3;
}

footer {
    background: url(../imagens/Grupo\ 335.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100%;
    grid-area: f;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 27vh 77vh 9vh;
    grid-template-areas: "h" "m" "f";
}